.bottom-logo{
    position: relative;
    z-index: 20;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 70px;
    
    @include media-breakpoint-only(sm) {
        margin-bottom: 50px;
    }
    @include media-breakpoint-only(xs) {
        margin-bottom: 30px;
    }
    &__img{
        width: 78%;
        @include media-breakpoint-only(lg) {
            width: 100%;
            max-width: 960px;
        }
        @include media-breakpoint-only(md) {
            width: 100%;
            max-width: 720px;
        }
        @include media-breakpoint-only(sm) {
            width: 100%;
            max-width: 540px;
        }
        @include media-breakpoint-only(xs) {
            width: 100%;
        }
    }
}
.footer{
    padding-top: 20px;
    padding-bottom: 65px;
    position: relative;
    //background-color: #1e53cb;
    @include media-breakpoint-only(md) {
        padding-bottom: 45px;
    }
    @include media-breakpoint-only(sm) {
        padding-bottom: 35px;
    }
    @include media-breakpoint-only(xs) {
        padding-bottom: 25px;
    }
    &__container{
        position: relative;
        z-index: 20;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @include media-breakpoint-down(lg) {
            flex-wrap: wrap;
        }
        @include media-breakpoint-only(xs) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__copyright{
        margin-bottom: 15px;
        color: #fff;
        font-size: 16px;
        letter-spacing: 0.1px;
        @include media-breakpoint-down(lg) {
            order: 1;
        }
    }
    &__nav{
        display: flex;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 15px;
        @include media-breakpoint-down(lg) {
            order: 3;
            flex-basis: 100%;
            justify-content: center;
        }
        @include media-breakpoint-only(sm) {
            //flex-direction: column;
        }
        @include media-breakpoint-only(xs) {
            flex-direction: column;
        }
    }
    &__nav-link{
        font-size: 16px;
        color: #fff;
        text-decoration: underline;
        font-weight: 600;
        @include media-breakpoint-only(sm) {
            font-size: 15px;
        }
        &:hover,
        &:active,
        &:focus{
            text-decoration: none;
            color: #fff;
        }
        &:not(:last-child){
            margin-right: 30px;
            @include media-breakpoint-only(sm) {
                //margin-right: 0;
                //margin-bottom: 15px;
                margin-right: 7px;
            }
            @include media-breakpoint-only(xs) {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
    }
    &__phone{
        margin-bottom: 15px;
        color: #fff;
        font-size: 16px;
        line-height: 1.75;
        letter-spacing: 0.1px;
        @include media-breakpoint-down(lg) {
            order: 2;
        }
    }
}